Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only .

In [16]:
a = 13
b = 12
c = a*b
if c>1000:
    print(a+b,'sum')
else:
    print(c,'product')

156 product

Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number

Expected output:
-----------------
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [1]:
a = 0
for i in range(0,10):
    b = a+i
    print('current number',i,'previous number',a,'sum: ',b)
    a = i

current number 0 previous number 0 sum:  0
current number 1 previous number 0 sum:  1
current number 2 previous number 1 sum:  3
current number 3 previous number 2 sum:  5
current number 4 previous number 3 sum:  7
current number 5 previous number 4 sum:  9
current number 6 previous number 5 sum:  11
current number 7 previous number 6 sum:  13
current number 8 previous number 7 sum:  15
current number 9 previous number 8 sum:  17

Given a list of numbers, return True if first and last number of a list is same

Expected Output:
-------------------------------------

Given list is 
a =  [10, 20, 30, 40, 10]
b = [10 , 20 , 30 , 40, 10 ]
result is True

Given list is  
a = [10, 20, 30, 40, 50]
b = [11 , 21 , 31 , 41 , 51 ] 
result is False

In [93]:
a =  [10, 20, 30, 40, 10]
b = [10 , 20 , 30 , 40, 10]
for i in a ,b :
    if a[0]==b[4]:
        print('true')

true
true

In [96]:
a = [10, 20, 30, 40, 50]
b = [11 , 21 , 31 , 41 , 51 ] 
for i in a ,b:
    if a[0]==b[4]:
        print('true')
    else:
        print('false')

false
false

# Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]


Expected output:
-----------------------------
10 400
20 300
30 200
40 100

In [4]:
list1 = [10,20, 30, 40]
list2 = [100, 200, 300, 400]
for i in list1:
    print(i)
for j in list2[::-1]:
    print(j,end =' ')

10
20
30
40
400 300 200 100

Remove empty strings from the list of strings


list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:
----------------------

["Mike", "Emma", "Kelly", "Brad"]

['mike', 'emma', 'kelly', 'brad']

In [ ]:
n = int(input())
print(n )

In [ ]:
a = 'vinay'
print(a)

In [6]:
n =int(input())

a = 0
b = 1
print(a)
print(b)
for i in range(5):
    c = a+b
    print(c)
    a=b
    b=c

7
0
1
1
2
3
5
8

In [9]:
n = 145

In [ ]:
Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number

Expected output:
-----------------
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [4]:
previous_number=0
for i in range(0,10):
    a = i+previous_number
   
    print('current number',i,'previous number',previous_number,'sum:',a)
    previous_number=i

current number 0 previous number 0 sum: 0
current number 1 previous number 0 sum: 1
current number 2 previous number 1 sum: 3
current number 3 previous number 2 sum: 5
current number 4 previous number 3 sum: 7
current number 5 previous number 4 sum: 9
current number 6 previous number 5 sum: 11
current number 7 previous number 6 sum: 13
current number 8 previous number 7 sum: 15
current number 9 previous number 8 sum: 17