# adding print conditin and variable

In [1]:
# o/p = the course fee for data science is rs 100

# first technique = ,

In [4]:
fee= 100 
print('the course fee for daa scince  is rs',fee)

the course fee for daa scince  is rs 100

In [5]:
# o/p = i am learning machine learning and deep learning

In [7]:
a = 'machine learning'
b = " deep learning "

print('i am learning',a,'and',b)

i am learning machine learning and  deep learning

In [8]:
a = 'python'
b = 12
c = 50.5

print(a,'is startig from rs',b,'to',c)

python is startig from rs 12 to 50.5

# second techinque using +

In [11]:
# o/p my name is vinay and my  age is 25

# + symbol can only add variables which are in str format only

In [13]:
a = 25 
print('my name is vinay and my age is'+a)

TypeError: can only concatenate str (not "int") to str

In [16]:
a = 25.7 
print('my name is vinay and my age is'+a)

TypeError: can only concatenate str (not "float") to str

In [21]:
a = '25'
print('my name is vinay and my age is ' +a)

my name is vinay and my age is 25

In [22]:
a = 24.5 
print('my name is vinay and my age is'+a)

TypeError: can only concatenate str (not "float") to str

In [24]:
a = '25'
print('myt name is vinay and my age is '+a)

myt name is vinay and my age is 25

In [26]:
a = 25 
print('my name is kamal and my age is '+str(a))

my name is kamal and my age is 25

In [27]:
a = 12.3 
print('my name is kamal and my age is '+str(a))

my name is kamal and my age is 12.3

In [28]:
# python is starting from rs 12 to 50.5

In [37]:
a = 'python'
b = 12
c = 50.5

print(a+  ' is starting from rs '+str(b)+ ' to '+str(c))

python is starting from rs 12 to 50.5

# third techinque using  d types

In [38]:
# int= %d
# float= %f
# string = %s

In [39]:
# my name is vinay and my age is 25

In [40]:
b = 25

print('my name is vinay and my age is %d'%b)

my name is vinay and my age is 25

In [43]:
a = 'vinay'
b = 25

print('my name is %s and my age is %d'%(a,b))

my name is vinay and my age is 25

In [44]:
a = 'vinay'
b = 25
 print('my name is %s and my age is %d '%(b,a))

IndentationError: unexpected indent (1270216396.py, line 3)

# differnce between \n and \t

In [45]:
# \n is for new line 
# \t is for tab space

In [47]:
print('vinay\nkamal')

vinay
kamal

In [49]:
print('vinay\tkamal')

vinay	kamal

In [55]:
print('vinay\nsiva')

vinay
siva

In [56]:
print('siva\tkamal')

siva	kamal