- for loop
- while loop
-if,elif,else
- break
- continue

# for loop sinle variable collecting lot of values

In [2]:
# first we will see about raange function

In [3]:
for a in range(1,10):      # n-1
    print(a)

1
2
3
4
5
6
7
8
9

In [5]:
for a in range(1,12,2):
    print(a)

1
3
5
7
9
11

# list

In [8]:
a = [1,3,5,67,82]
for i in  a:
    print(i,end = ' @')

1 @3 @5 @67 @82 @

# dictionary

In [15]:
a = {'a':'vinay','b':'siva'}  # for calling we use []
a['a']

'vinay'

In [16]:
a.keys()

dict_keys(['a', 'b'])

In [17]:
a.items()

dict_items([('a', 'vinay'), ('b', 'siva')])

In [18]:
for k in a:
    print(k)

a
b

In [19]:
for k in a.items():
    print(k)

('a', 'vinay')
('b', 'siva')

# if,else,elif

In [21]:
a = 12
if a == 12:
    print('correct')
else:
        print('not correct')

correct

In [27]:
a = 'vinay'
if a == 'vinay':
    print('incorrect')
else:
    print('incorrect')

incorrect

In [30]:
a = 'siva'
if a == 'siva':
    print('false')
elif a =='siva':
    print('correct')

false

In [31]:
12/2

6.0

In [32]:
12//5

2

In [34]:
12%5

2

In [35]:
a={1:'vinay',2:'siva'}
a.update({2:'kiran'})

In [36]:
(a)

{1: 'vinay', 2: 'kiran'}

# enumerate

In [39]:
a = [100,200,300,400]
for i ,j in enumerate(a):
    print(i,j)

0 100
1 200
2 300
3 400

In [45]:
int(input('enter a value='))

enter a value=12

12

In [46]:
int(input('enter a a value ='))

enter a a value =52.3

ValueError: invalid literal for int() with base 10: '52.3'

# if,else,elif

In [2]:
a = 'vinay'
if a == 'kamal':
    print('not correct')
else:
    print('correct')

correct

In [3]:
85/3

28.333333333333332

In [4]:
85//3

28

In [5]:
85%3

1

In [6]:
pow(2,6)

64

In [7]:
pow(2,6,3)

1

In [14]:
a = ['kiran','praveen','gorri']
b = ['vinay','siva','ravi']
for i ,j in zip(a,b):
    print(i,j)

kiran vinay
praveen siva
gorri ravi

In [2]:
a = 13
if a == 13:
    print('correct')
else:
    print('incorrect')

correct

# questions

In [10]:
for i in range(10):
    print('good morning')

good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning

In [2]:
a = 'vinay'
if a == 'vinay':
    print('correct')
else:
    print('no')

correct

In [5]:
a = [1,2,3,4,5,6]
for i , j in  enumerate(a):
    print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6

# while loop

In [6]:
a = 12
a+=12
(a)

24

In [10]:
x = 12
while x<=19:
    print(x)
    x =x+1

12
13
14
15
16
17
18
19

In [11]:
# break
for i in range(1,34):
    print(i)
    if i == 3:
        break

1
2
3

In [12]:
for i in range(1,5):
    print(i)
    if i == 4:
        break

1
2
3
4

# continue

In [14]:
for i in range(1,50):
    if i ==34:
        continue
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [16]:
for i in  range(1,12):
    print(i)
    if i == 4:
        break

1
2
3
4

In [24]:
for i in range(1,10):
    if i == 8:
        continue
    print(i,end = ' ')

1 2 3 4 5 6 7 9

In [25]:
for i in range(1,10):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [26]:
for i in range(1,10):
    if i ==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [32]:
for i in range(1,11):
    if i%2 == 0:
        print('even =',i)
    else:
        print('odd =',i)

odd = 1
even = 2
odd = 3
even = 4
odd = 5
even = 6
odd = 7
even = 8
odd = 9
even = 10

In [1]:
for i in range(19,32):
    if i %2 == 0:
        print(even)

NameError: name 'even' is not defined

In [2]:
# break
for i in range (1,22):
    print(i)
    if i == 12:
        break

1
2
3
4
5
6
7
8
9
10
11
12

In [3]:
for i in range(1,11):
    if i ==5:
        continue
    print(i,'end = ')

1 end =
2 end =
3 end =
4 end =
6 end =
7 end =
8 end =
9 end =
10 end =

In [5]:
for i in range(1,23):
    print(i)
    if i == 9:
        print(i)
        break

1
2
3
4
5
6
7
8
9
9

In [6]:
for i in range(1,12):
    print(i)
    if i == 8:
        break

1
2
3
4
5
6
7
8

In [8]:
for i in range(1,12):
    if i == 10:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
11

In [9]:
a = 1,2,3,4,5
b = 9,8,7,6,5
x = zip(a,b)

print(x)

<zip object at 0x000001E214483200>

In [11]:
a =[1,2,3,4]
b =[9,8,7,6]
c = zip(a,b)
print(list(c))

[(1, 9), (2, 8), (3, 7), (4, 6)]

In [13]:
a = [1,2,3,4,5,6]

for i,j in enumerate(a):
    print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6

In [14]:
for i in range(1,23):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [17]:
for i in range(1,10):
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7
8
9

In [ ]:
a =12
a = float(input())
print(a)

In [ ]:
a =input('enter a name =')
print(a)

In [ ]:
a = int(input())

In [ ]:
a = 'kamal'
print(a)

In [2]:
a = 'kamal'
print(a)

kamal

In [3]:
int(input())

33

33

In [4]:
input('')

vinay

'vinay'

In [5]:
float(input())

12

12.0