In [1]:
a = {}
a [ 'name']= 'vinay'
a [ 'age']= 50
(a)

{'name': 'vinay', 'age': 50}

In [2]:
b = {}
for i in range(1,5):
    b[i]=i **3 
b

{1: 1, 2: 8, 3: 27, 4: 64}

In [9]:
for i in range(1,11):
    print(i**2,'end= ',i)

1 end=  1
4 end=  2
9 end=  3
16 end=  4
25 end=  5
36 end=  6
49 end=  7
64 end=  8
81 end=  9
100 end=  10

In [16]:
# dictionary commrehension
a = { i:i**2 for i in range(1,5) }

In [17]:
a

{1: 1, 2: 4, 3: 9, 4: 16}

In [23]:
a = {'a':'vinay'}
print(a)

{'a': 'vinay'}

In [27]:
a = {'mango':10,'orange':20,'apple':30}
b ={}
c = {i for i in a.values()}
(c)

{10, 20, 30}

In [34]:
a = { 'vinay':50,'siva':30,'kiran':60}
for i ,j in a.items():
    if j>=40:
        print('pass',i,j)
    else:
        print('fail',i,j)

pass vinay 50
fail siva 30
pass kiran 60

In [42]:
a = { i :'even' if i%2==0  else 'odd' for i in range(1,5)}
(a)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even'}

In [4]:
a = {'vinay':'good boy','siva':'bad boy','kiran':'sycho'}
b = {i for i in a.values()}
print(b)

{'good boy', 'sycho', 'bad boy'}

In [8]:
a = {'vinay':'good boy','siva':'bad boy','kiran':'sycho'}
b ={}
a[0]= 'ravi'
print(a)

{'vinay': 'good boy', 'siva': 'bad boy', 'kiran': 'sycho', 0: 'ravi'}

In [16]:
a= { i:i+2 for i in range(1,5)}
(a)

{1: 3, 2: 4, 3: 5, 4: 6}

In [28]:
a = [even'  if i %2==0 else 'odd' for i in range (1,4) ]

(a)

SyntaxError: invalid syntax (611878903.py, line 1)