In [1]:
# DICTIONARY
# it is denoted with {}

In [3]:
a = {1,2,3,4}
(type(a))

set

In [4]:
a = {1:12,2:34,3:45}
(type(a))

dict

In [5]:
# dictionary works with only keya and values 
a = {'vinay':23,'siva':56}
(type(a))

dict

In [6]:
# another way to create dictionary
fruit = {}
fruit[1]='apple'
fruit[2]='banana'
fruit[3]='carrot'
(fruit)

{1: 'apple', 2: 'banana', 3: 'carrot'}

In [8]:
(fruit(keys())

SyntaxError: unexpected EOF while parsing (2053984984.py, line 1)

In [12]:
a ={1: 'apple', 2: 'banana', 3: 'carrot'}
(a.keys())

dict_keys([1, 2, 3])

In [13]:
(a.values())

dict_values(['apple', 'banana', 'carrot'])

In [17]:
# keya should be some immutable data types
a = {1:'siva',2:'ravi',[12,12]:'vinay'}
(a)  # [] list is mutable

TypeError: unhashable type: 'list'

In [18]:
a = {'siva':'topper','vinay':'looser'}
a.get('siva')

'topper'

In [ ]:
a = {1:'siva',2:'ravi'}
a.get(3,'vinay')

In [22]:
# chnaging elements of python dictionary
a = {1:'ravi',2:'siva',4:'karma'}
a[4]='raju'
(a)

{1: 'ravi', 2: 'siva', 4: 'raju'}

In [28]:
a = {1: 'apple', 2: 'banana', 3: 'carrot'}
a.update('2' = 'kiran')
(a)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3648450426.py, line 2)

In [40]:
a = { 'apple':'siva',2:'ravi'}
a.pop("apple")
(a)

{2: 'ravi'}

In [41]:
(a.popitem())

(2, 'ravi')

In [43]:
a.clear()
(a)

{}

In [44]:
# member ship(onlt for keys )

In [45]:
# looping through keys 

a = {1:'siva',2:'ravi',3:'vinay',4:'kiran'}
for i in a:

IndentationError: expected an indented block (468485509.py, line 4)

In [53]:
a = {1:'siva',2:'ravi',3:'vinay',4:'kiran'}
for i in a:
    print("key =",i)
    print("values =",i)

key = 1
values = 1
key = 2
values = 2
key = 3
values = 3
key = 4
values = 4

In [58]:
for k in a.values():
    print('keys =',k)

keys = siva
keys = ravi
keys = vinay
keys = kiran

In [72]:
a = {1:'siva',2:'vinay',4:'rajesh'}
(type(a))

dict

In [74]:
for l in a:
    print(a)

{1: 'siva', 2: 'vinay', 4: 'rajesh'}
{1: 'siva', 2: 'vinay', 4: 'rajesh'}
{1: 'siva', 2: 'vinay', 4: 'rajesh'}

In [76]:
for i in a:
    print("keys =",i)
    print("values =",i)

keys = 1
values = 1
keys = 2
values = 2
keys = 4
values = 4

In [78]:
a = {1:'vinay',2:'siva',3:'ravi'}
for i in a.items():
    print(i)

(1, 'vinay')
(2, 'siva')
(3, 'ravi')

In [85]:
for k in a.items():
    print(k)

(1, 'vinay')
(2, 'siva')
(3, 'ravi')