# functions

In [1]:
# FUNCTIONS CAN BE DENOTED WITH - def

In [2]:
print('vinay')

vinay

In [5]:
# with functions
def vinay(a):
    if a %2 == 0:
        print('even')
    else:
        print('odd')

In [6]:
vinay(22)

even

In [7]:
vinay(33)

odd

In [8]:
vinay(11.4)

odd

In [9]:
def vinay():
    print('hello world')

In [10]:
vinay()

hello world

In [15]:
def kamal(a):
    if a % 2 == 0:
        print('even')
    else:
        print('odd')

In [16]:
kamal(99)

odd

In [17]:
kamal(101)

odd

# return concept in function

In [19]:
a =  int(input())

23

In [21]:
c= []
for i in range(10):
    a = int(input())
    c.append(a)
print(c)

21
32
212
45
65
445
33
343
23
223
[21, 32, 212, 45, 65, 445, 33, 343, 23, 223]

In [22]:
for i in c:
    if i % 2 ==0:
        print('even =',i)
    else:
        print('odd = ',i)

odd =  21
even = 32
even = 212
odd =  45
odd =  65
odd =  445
odd =  33
odd =  343
odd =  23
odd =  223

In [23]:
a = 3
b = 5
print(a+b)

8

In [24]:
def kohli(a,b):
    print('sum =',a+b)
    print()
    print('mul =', a*b)

In [25]:
kohli(2,4)

sum = 6

mul = 8

In [26]:
def kamal(a,b):
    vinay = a+b
    kunay = a*b
    return vinay,kunay

In [27]:
kamal(12,23)

(35, 276)

In [29]:
a , b = kamal(12,23)
print('sum ->',a)
print('mul->',b)

sum -> 35
mul-> 276

In [30]:
def details(name,age,des):
    print(name)

In [34]:
details(name = 'vinay',age = 23,des ='cv')

TypeError: details() got an unexpected keyword argument 'name'

In [35]:
def hero(y):
    for i in k:
        print(i)

In [37]:
k = [12,23,34,55,66]
hero(k)

12
23
34
55
66

In [6]:
def kamal( ):
    if a%2 == 0:
        print('even')
    else:
        print('odd')

In [7]:
kamal(11)

odd

In [8]:
kamal(22)

even

In [9]:
kamal(99)

odd

In [12]:
def vinay(a,b):
    print('sum',a+b)
    print()
    print( 'mul',a*b)

In [13]:
vinay(12,34)

sum 46

mul 408

In [14]:
def vinay(a,b):
    kamal=a+b
    vimal=a-b
    return kamal,vimal

In [15]:
vinay(3,23)

(26, -20)

In [16]:
a , b = vinay(12,22)
print('sum',a)
print('mul',b)

sum 34
mul -10

In [17]:
def kamal(a):
    for i in a:
        print(i)

In [18]:
e = [12,23,44,56]
kamal(e)

12
23
44
56

In [3]:
def vinay(a,b):
    g = a+b
    h =a*b
    
    return g,h

In [4]:
vinay(12,14)

(26, 168)

In [5]:
def raju(a,b):
    print( a+b)
    print(a*b)

In [6]:
raju(12,14)

26
168

In [8]:
g,h = raju(12,14)
print(g)
print(h)

26
168

TypeError: cannot unpack non-iterable NoneType object

In [9]:
raju(11,123)

134
1353

In [10]:
R ,T = raju(11,123)

134
1353

TypeError: cannot unpack non-iterable NoneType object

In [13]:
def vinay(a):
    for i in e:
        print(i)

In [14]:
e = [1,2,3,4,5]
vinay(e)

1
2
3
4
5

In [18]:
def kumar(a):
    for i in k:
        print(i)

In [20]:
k = [1,2,3,4,5]
kumar(a)

1
2
3
4
5

In [1]:
def vinay(a):
    if a % 2 == 0:
        print('even')
    else:
        print('odd')

In [2]:
vinay(99)

odd

In [3]:
def vinay(a,b):
    print('mul',a*b)
    print('sum',a+b)

In [4]:
vinay(1,3)

mul 3
sum 4

In [5]:
def kamal(a,b):
    vinay = a+b
    siva =a*b
    
    return vinay,siva

In [6]:
kamal(12,12)

(24, 144)

In [9]:
R , T = kamal(13,14)
print('mul',R)
print('mul',T)

mul 27
mul 182

In [10]:
def kamal(a,b):
    siva= a+b
    vinay = a*b
    
    return siva,vinay

In [11]:
kamal(34,56)

(90, 1904)

In [14]:
kamal(12,11)

(23, 132)

In [16]:

c , d = kamal(1,2)
print(c)
print(d)

3
2

In [17]:
def details(name,age,des):
    print(name)
    print()
    print(age)
    print()
    print(des)

In [19]:
 details(name = 'vinay',age = 25, des= 'cv scientist')

vinay

25

cv scientist

In [23]:
def vegetables(mango,orange,banana):
    print(mango)
    ()
    print(orange)
    ()
    print(banana)

In [24]:
vegetables(mango=34,orange=35,banana= 36)

34
35
36

In [25]:
def vinay(y):
    for i in y:
        print(i)

In [26]:
f = [1,2,3,4,5]
vinay(f)

1
2
3
4
5