In [1]:
# lmabda function means it is anonymous function
# it means executing the logic without function name or calling the  function  without function name

In [2]:
# variable= lambda argument:expressions

In [7]:
a = 12
b = 23

sol = lambda x,y:x + y


print(sol(x,y))

NameError: name 'x' is not defined

In [10]:
a = 12
b = 23

sol = lambda x,y : x + y
print(sol(a,b))

35

In [15]:
a = 123
b = 234

vinay= lambda x,y: x+y

print(vinay(x,y))

NameError: name 'x' is not defined

In [16]:
a = 123
b = 234

vinay= lambda x,y: x+y

print(vinay(a,b))

357

In [20]:
n = 12
n=int(input('enter a number ='))

for i in range(1,11):
    print(n,'*',i,'=',n*i)

enter a number =45
45 * 1 = 45
45 * 2 = 90
45 * 3 = 135
45 * 4 = 180
45 * 5 = 225
45 * 6 = 270
45 * 7 = 315
45 * 8 = 360
45 * 9 = 405
45 * 10 = 450

In [23]:
def table(n):
    for i in range(1,11):
        print(n,'*',i,'=',n*i)

In [24]:
n= 2
table(n)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [25]:
def vinay(a):
    for i in range(1,11):
        print(a,'*',i,'=',a*i)

In [26]:
vinay(99)

99 * 1 = 99
99 * 2 = 198
99 * 3 = 297
99 * 4 = 396
99 * 5 = 495
99 * 6 = 594
99 * 7 = 693
99 * 8 = 792
99 * 9 = 891
99 * 10 = 990

In [27]:
n = 5
vinay= lambda x,y:x*y


for i in range(1,11):
    print(n,'*',i,'=',vinay(n,i))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
 
    
    
# some web sites
 # 1. stack oerflow
# 2. geeksforgeeks
# 3. analytic vidhya

In [7]:
a = 1
b = 3
c = lambda x , y : x+ y
print(c(a,b))

4

In [2]:
n = int(input())
for i in range(1,11):
    print(n , '*',i,'=',n*i)

133
133 * 1 = 133
133 * 2 = 266
133 * 3 = 399
133 * 4 = 532
133 * 5 = 665
133 * 6 = 798
133 * 7 = 931
133 * 8 = 1064
133 * 9 = 1197
133 * 10 = 1330

In [3]:
n= int(input())
c = lambda x, y :x*y
for i in range(1,11):
    print(n,'*',i,'=',c(n,i))

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [6]:
a = 8
b = 9
c= lambda x ,y : x*y
print(c(a,b))

72

In [12]:
a = int(input())
c = lambda x,y : x*y
for i in range(1,11):
    print(a,'*',i,'=',c(a,i))

99
99 * 1 = 99
99 * 2 = 198
99 * 3 = 297
99 * 4 = 396
99 * 5 = 495
99 * 6 = 594
99 * 7 = 693
99 * 8 = 792
99 * 9 = 891
99 * 10 = 990

In [13]:
a = 23
b = 34
c = lambda x , y :x*y
print(c(a,b))

782

In [14]:
a = 23
b = 34
print(a*b)

782