In [1]:
# set is denoted by {}

a = {12,343,'vinay'}
(type(a))

set

In [4]:
# set is unorderd pair  :it has no irder or line follows 
a = {12,43,56,76,87,98,89}
(a)

{12, 43, 56, 76, 87, 89, 98}

In [3]:
a = {'vinay','kamal',98,76,86}
(a)

{76, 86, 98, 'kamal', 'vinay'}

In [6]:
# each element in a set is unique
a = {1,3,3,'vinay'}
(a)   # one element comes only one time

{1, 3, 'vinay'}

In [8]:
# it can accept tuple but it cant acept list
a = {'vinay','siva',45,454,54,54,(12,45)}
(a)

{(12, 45), 45, 454, 54, 'siva', 'vinay'}

In [9]:
a = {'siva',3.434,44,43,[3,5]}
(a)

TypeError: unhashable type: 'list'

In [10]:
## add is used to add only one value
##   update is used to add multiple values
a = {'vinay',45,55}
a.add(54)
(a)

{45, 54, 55, 'vinay'}

In [13]:
a.update([45,78]) # for adding multiple values use []
(a)

{45, 54, 55, 78, 'vinay'}

In [14]:
# discard
a = {'vinay','siva',78,56,89}
a.discard('vinay')
(a)

{56, 78, 89, 'siva'}

In [15]:
a.remove(89)
(a)

{56, 78, 'siva'}

In [16]:
a.remove(22)
(a)

KeyError: 22

In [17]:
# discard means it remove the value it is there in elements it doesnt show the error
# but remove means if the value not there in the list it cant remove

In [18]:
# pop
# we can also use the

In [21]:
a = {23,47,43,394,34}
a.pop()
(a)

{23, 43, 47, 394}

In [23]:
a.pop(0)
(a)

TypeError: set.pop() takes no arguments (1 given)

In [37]:
# python set operations
s1 ={23,45,55,32}
s2 ={88,65,88,23}          # union(U) 
(s1 | s2)

{23, 32, 45, 55, 65, 88}

In [35]:
(s1.union(s2))

{23, 32, 45, 55, 65, 88}

In [30]:
print(s1 & s2)

set()

In [38]:
(s1.intersection(s2))

{23}

In [27]:
# intrsection &

In [28]:
(s1 & s2)

set()

In [32]:
a = {23,43,43,43,22}
b = {45,76,23,87,78,66}
print(a & b)

{23}

In [33]:
# difference 
# a-b= shows values in a
a = {1,2,3,4,5,4}
b = { 1,3,4,6,8,9} # difference function we use
(a-b)

{2, 5}

In [34]:
(b-a)

{6, 8, 9}

In [39]:
(a.difference(b))

{2, 5}

In [41]:
# python symmetric  difference
a = {2,4,5,6,7,8}
b = {2,4,9,6,2,2,1}
(a^b)                     # not the common elemnets in both sets

{1, 5, 7, 8, 9}

In [42]:
# member ship
a = {1,2,3,4,3,'siva'}
(1 in a)

True

In [43]:
('siva' in a)

True

In [52]:
a = {23,43,'siva',(23,43)}
for i in a:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'int'>

In [55]:
a = set([3,4,5,6])

(a)

{3, 4, 5, 6}

In [57]:
a = set(2,3,4,5)
(a)

TypeError: set expected at most 1 argument, got 4

In [58]:
a = {1,23,4,4}
b=a
b.add(10)
(b)

{1, 4, 10, 23}

In [64]:
# max,min,len,sum
a = {1,2,7,97,45,33,4}
print(sorted(a))

[1, 2, 4, 7, 33, 45, 97]

In [65]:
(sorted(a))

[1, 2, 4, 7, 33, 45, 97]

In [66]:
(sorted(a,reverse=True))

[97, 45, 33, 7, 4, 2, 1]

In [68]:
a = {1,2,3,4,5,6,7,8,9,0}
(sorted(a,reverse=True))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]