In [1]:
# 1 . capitalize
2 . count
3 . startswith
4 . endswith
5 . isalpha
6 . isdigit
7 . isdecimal
8 . isalnum
9 . islower
10 . isupper
11 . lower
12 . upper 
13 . title
14 . replace
# 15 . swapcase

AttributeError: 'int' object has no attribute 'count'

# pre defined functions or inbuilt functions

In [4]:
# capitalize 
# capitalize means only the starting character will be convertd

a = 'data science'
a.capitalize()

'Data science'

In [6]:
# count
a = 'vinay kumar'
a.count('v')

1

In [7]:
# endswith
a = 'my anme is viany'
a.endswith('y')

True

In [8]:
# starts with
a = 'i am a big boy'
a.startswith('i')

True

In [9]:
# isalpha
a = 'ravikumar'
a.isalpha()

True

In [10]:
# isdigit
a = '3243323242332'
a.isdigit()

True

In [11]:
# islower
a = 'siva is a bad boy'
a.islower()

True

In [13]:
# isupper
a = 'RAVI'
a.isupper()

True

# lower

In [16]:
a = 'RAVIkumar'
a.lower()

'ravikumar'

In [18]:
#upper
a ='DBVDSJJSdvdsddsJDSFJDS'
a.upper()

'DBVDSJJSDVDSDDSJDSFJDS'

In [20]:
# title
a = ' i am big fan of vijay'
a.title()

' I Am Big Fan Of Vijay'

In [21]:
# replace
a = 'siva sankar'
a.replace('siva','rama')

'rama sankar'

In [22]:
# swapcase
a = 'dear boys all off you welcome'
a.swapcase()

'DEAR BOYS ALL OFF YOU WELCOME'

In [23]:
a = 'where are you'
a.upper()

'WHERE ARE YOU'

In [26]:
# formating technique

# for formatting we will use flower bracket
a = 'rajesh nandha {}'.format('siva')
print(a)

rajesh nandha siva

In [27]:
a = " i am learning {'s'}, and {'f'}".format{'s'},('ml')

SyntaxError: invalid syntax (1609966327.py, line 1)

In [29]:
a = 'i am learning {a}, and {'b}'.format(a='ml'),(b='dl')

SyntaxError: invalid syntax (3660574391.py, line 1)

In [2]:
print('i am learning {a}').format(a= ' vinaur'

SyntaxError: unexpected EOF while parsing (1039159630.py, line 1)

In [ ]:
print('i am learning {a},and {b}'.format(a = 'machine',b =))