# index concept

In [24]:
a = 'vinay'
print(a[3])

a

In [33]:
b = 'kranthi'
print(b[6])

i

In [34]:
v = 'siva sankar'
print(v[8])

k

# slicing concept in forward in direction

In [29]:
a = 'vinay kumar'
print(a[0:6])

vinay

In [32]:
a ='siva sankar'
print(a[2:8])

va san

In [50]:
a = 'siva'
print(a)

siva

In [51]:
print(a[:])

siva

In [52]:
a = """ hi 
and sdfkhasfjk
 sjfgsakjd 
 jfgh(skjdfhsa """
print(a)

 hi
and sdfkhasfjk
 sjfgsakjd
 jfgh(skjdfhsa

In [53]:
a = 'kamal raju'
print(a[0:5:3])

ka

In [54]:
a = 'sai kamal viany'
print(a[2:9:3])

ial

In [55]:
a = 'raja'
print(a[:3])

raj

In [56]:
a = 'vijaya kumari'
print(a[::3])

va mi

In [57]:
# string is an imutable which means cannot changable # replacement

In [58]:
a = 'vinay kamal '
a[4]= 'p'

print(a)

TypeError: 'str' object does not support item assignment

In [59]:
a = 'king'
del a

In [60]:
a = 'k'
print(a*3)

kkk

In [61]:
'p'+ 1

TypeError: can only concatenate str (not "int") to str

In [62]:
# member ship function

In [63]:
a = 'kamal vinay ravi siva'
print('kamal'in a)

True

In [64]:
print('raju'not in a)

True

In [65]:
print('raju'in a )

False

# ascii value

In [66]:
# a = 97 , b = 98
# A = 65 , B = 66

In [67]:
p='ab'
c='VV'
print(c>p)

False

In [69]:
a = 'k'
ord('k')

107

In [2]:
chr(99)

'c'

In [3]:
ord

NameError: name 's' is not defined