In [2]:
a=12
print(a)

12

In [4]:
## rules to define variables 
#   1)variable name will not start with a number 
#   2)no white spaces in variable names ,use "_" instead 
#   3)variable names are case sensitive 
#   4)cant use below symbpls in variable names

In [5]:
# variable name will not start with a number 

a=12
print(a)

12

In [7]:
12=40
print(12)

SyntaxError: cannot assign to literal (3640857722.py, line 1)

In [11]:
vinay123 =  45
print(vinay123)

45

In [15]:
143kumar = 22
print(143kumar)

SyntaxError: invalid syntax (3627892642.py, line 1)

In [16]:
# no white spaces in variable names ,use '_'instead

In [17]:
sai kamal = 12

SyntaxError: invalid syntax (3224864925.py, line 1)

In [19]:
sai_kamal = 123
print(sai_kamal)

123

In [20]:
# variable names are case sensitive 


a = 12 
print (a)

12

In [22]:
d = 20
prin(D)

NameError: name 'prin' is not defined

# Data type convesrsations

In [24]:
a = 12 
print(a)
print()
print(type(a))

12

<class 'int'>

In [25]:
a = 23.5
print(a)
print()
print(type(a))

23.5

<class 'float'>

In [28]:
a = 'vinay'
print(a)
print()
print(type(a))

vinay

<class 'str'>

In [29]:
a = 12
print(a)
print()
c = type(a)
print(c)

12

<class 'int'>

# converting integer value to float

In [30]:
a = 12 
b = float(a)
print(a)
print()
print(b)

12

12.0

# converting integer value to string

In [31]:
v = "data"
type(v)

str

In [33]:
a = 12 
b = str(a)
print(a)
print()
print(b)
b

12

12

'12'

# converting float value to string

In [36]:
a = 12.4 
b = str(a)
print(a)
print()
print(b)
b

12.4

12.4

'12.4'

# converting string into integer

In [39]:
a = 'vinay'
b = int(a)
print(a)
print()
print(b)

ValueError: invalid literal for int() with base 10: 'vinay'

In [38]:
# a string cannot convert into inmteger or float

In [ ]:
a = "kamal123"